<% layout ("frame.ejs") %>
<main class="main">
    <div class="style1">Добро пожаловать в чат!</div>
    <form class="form-inline" method="post" id="publish">
        <input type="text" name="message" class="inputfield">
        <input type="submit" class="btn" value="Отправить">
    </form>
    <ul id="messages" class="message"></ul>
</main>
