<!DOCTIPE html>
<html>
<head>
    <title>ldpix.com</title>
    <meta charset="utf-8"></meta>
    <link rel="stylesheet" href="m-style1.css"></link>
    <link rel="stylesheet" href="chat.css"></link>
    <script src="jquery-3.4.1.js"></script>
    <script src="chat.js"></script>
</head>
<body>
    <div class="header">
        <div class="header_section">
            <div class="header_item headerlogo">
                <a href="/">Pix's games</a>
            </div>
            <div class="header_item headerlogo">
                <a href="#">All game</a>
            </div>
            <div class="header_item headerlogo">
                <a href="mainabout.ejs">About</a>
            </div>
            <div class="header_item headerlogo">
                <a href="mainevents.ejs">Events</a>
            </div>
        </div>
        <div class="header_section">
            <div class="header_item headerlogo">
                <a href="chat.ejs">Chat</a>
            </div>
            <div class="header_item headerlogo">
                <a href="mainsignin.ejs">Sing in</a>
            </div>
        </div>
    </div>
    <%-body%>
</body>
</html>
