<% layout ("frame.ejs") %>

<main class="main">
    <div class="grid">
        <div class="grid-itm">
            <a href="click-page1.html" class="grid-img"><img src="picture3.jpg"></a>
            <div class="grid-cont">
                <h1 class="grid-title">Pro-clicker</h1>
                <p>The game where you can click as much as you wish to upgrade your clicking power and also acquire a passive set of points. Moreover, there is an ability to cause the golden rain (an incredible natural event). </p>
            </div>
        </div>
        <div class="grid-itm">
            <a href="XO-Infinity.html" class="grid-img"><img src="picture4.jpg"></a>
            <div class="grid-cont">
                <h1 class="grid-title">XO-infinity</h1>
                <p>The XO infinity is a game you could play with your friends. The goal of the game is to place 5 of your marks (X or O) in a horizontal, vertical, or diagonal row first. </p>
            </div>
        </div>
        <div class="grid-itm">
            <a href="xoSG.html" class="grid-img"><img src="picture5.jpg"></a>
            <div class="grid-cont">
                <h1 class="grid-title">XO - super game</h1>
                <p>The XO game is so-called Tic-tac-toe or noughts and crosses or Xs and Os. The player who succeeds in placing three of their marks in a horizontal, vertical, or diagonal row first is the winner. </p>
            </div>
        </div>
    </div>
</main>
<footer class="footer">
</footer>
