<% layout ("frame.ejs") %>
<main>
    <form>
        <input type="text" name="name1" class="input">
        <input type="text" name="name2" class="input">
        <input type="submit" name="sbm" class="input">
    </form>
</main>
