<% layout ("frame.ejs") %>
<main class="main">
    <div class="grid">
        <div class="grid-itm">
            <div> class="grid-img"><img src="picture5.jpg"></div>
            <div class="grid-cont">
                <h1 class="grid-title">New release(3.3) in the game XO.</h1>
                <p>When you win sels in your line turn to orange color for 1 second.</p>
            </div>
        </div>
    </div>
</main>
